<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.TS001_SignUpTest"/>
      <class name="tests.TS002_LoginTest"/> 
      <class name="tests.TS003_DashboardTest"/> 
      <class name="tests.TS004_ProductDetailsTest"/> 
      <class name="tests.TS005_CartFunctionalityTest"/> 
      <class name="tests.TS006_PurchaseTest"/> 
        <class name="tests.TS007_LogoutTest"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

